*
!*png
!.bash_profile
!.bashrc
!.gitignore
!.config/
!.config/nvim/
!.config/nvim/**/*
.config/nvim/spell/*
!.local
!.local/share/
!.local/share/bg
!.local/share/ricing
!.local/share/ricing/**/*
!README.md
