*
!*png
!.bash_profile
!.bashrc
!.gitignore
!.config/
!.config/nvim/
!.config/nvim/**/*
.config/nvim/spell/*
!.config/mimeapps.list
!.config/alacritty/
!.config/alacritty/alacritty.toml
!.config/tmux
!.config/tmux/tmux.conf
!.config/zsh/
!.config/zsh/.zshrc
.config/zsh/.zhistory
!.zshenv
!.gitmodules
!.local
!.local/share/
!.local/share/laibarch.png
!.local/share/ricing
!.local/share/ricing/**
!.local/share/ricing/**/*
!.local/bin/
!.local/bin/configure-displays.sh
!.local/bin/dwl-autostart.sh
!/.local/bin/dwl-status-click.sh
!/.local/bin/screenshot.sh
!/.local/bin/reddit-wallpaper.sh
!/.local/bin/temp-monitor.sh
!/.local/bin/battery-monitor.sh
!.local/src/
!.local/src/dwl
!.local/src/dwl/**
!.local/src/dwl/**/*
.local/src/dwl/config.h
!.local/src/slstatus
!.local/src/slstatus/**
!.local/src/slstatus/**/*
.local/src/slstatus/config.h
!system-config
!system-config/**
!system-config/**/*
!README.md
**/.claude
