*
!*png
!.bash_profile
!.bashrc
!.gitignore
!.config/
!.config/nvim/
!.config/nvim/**/*
.config/nvim/spell/*
!.local
!.local/share/
!.local/share/bg
!.local/share/ricing
!.local/share/ricing/**/*
!.local/bin/
!.local/bin/configure-displays.sh
!.local/bin/dwl-autostart.sh
!.local/src/
!.local/src/dwl
!.local/src/dwl/**/*
!.local/src/slstatus
!.local/src/slstatus/**/*
!README.md
